body{
    margin:0;
    background: #000000;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #16181C;
    border-radius: 1rem;
    padding: 18px;
    min-width: 350px;
}